.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  border-right: 1px solid #393b48;
  width: 12%;
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    height: 10%;
    width: 100%;
  }
  .navigation__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 30%;
    margin-bottom: 22rem;
    &_item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      &:hover {
        background: #0082f4;
        border-radius: 25px;
        box-shadow: 0px 0px 15px #0082f4;
      }
    }
  }
}
