.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: fixed;
  height: 100vh;
  border-right: 1px solid #393b48;
  background: #191b1f;
  width: 12%;
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    height: 10%;
    width: 100%;
  }
  .navigation__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: auto;
    width: 30%;
    height: 25%;
    margin-bottom: 12rem;
    .active {
      background: #0082f4;
      border-radius: 25px;
      box-shadow: 0px 0px 15px #0082f4;
    }
    .home__page {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      width: 60px;
      &:hover {
        background: #0082f4;
        border-radius: 25px;
        box-shadow: 0px 0px 15px #0082f4;
      }
    }
    .library__page {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      width: 60px;
      &:hover {
        background: #0082f4;
        border-radius: 25px;
        box-shadow: 0px 0px 15px #0082f4;
      }
    }
    .favorite__page {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      width: 60px;
      &:hover {
        background: #0082f4;
        border-radius: 25px;
        box-shadow: 0px 0px 15px #0082f4;
      }
    }
  }
}
