.header {
  position: absolute;
  .search__form {
    .search__input {
      height: 45px;
      width: 350px;
      border: none;
      border-radius: 100px;
      background: #27292d;
      background-image: url('../accets/img/searchIcon.svg');
      background-position: 10px 10px;
      background-repeat: no-repeat;
      padding-left: 50px;
      padding-bottom: 5px;
    }
  }
}
