@import './Navigation/Navigation.scss';
@import './Header/Header.scss';
@import './Home/Home.scss';
@import './FavoriteSongs//FavoriveSongs.scss';
@import './MusicPlayer/MusicPlayer.scss';
@import './Library/Library.scss';
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin-left: 13.5%;
}
