//player
.player {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  position: fixed;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #393b48;
  background: #191b1f;
}
//details
.player__details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 20%;
  &_img {
    img {
      width: 100px;
      height: 100px;
    }
  }
  .details__text {
    margin-left: 5%;
    &_title {
      color: #fff;
    }
    &_artist {
      color: #ababab;
    }
  }
}
//controls
.player__controls {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  .player__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 350px;
    .play__buttons {
      display: flex;
      justify-content: space-between;
      width: 35%;
      .skip__btn {
        color: grey;
        background: #212429;
        width: 35px;
        height: 35px;
        border-radius: 100px;
      }
      .play__btn {
        width: 35px;
        height: 35px;
        border-radius: 100px;
      }
    }
    .song__duration {
      display: flex;
      justify-content: center;
      margin-top: 2%;
      width: 100%;
      &_slider {
        width: 100%;
      }
    }
  }
  .player__sound {
    display: flex;
    margin-right: 5%;
  }
}
